.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #6495ed;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  color: #f0f8ff;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #8366f6;
}

.spanEffect {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
  color: white;
}
